{
   "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "ignore": [
    "./node_modules",
    "./jest.setup.js",
    "./.babelrc",
    "./.eslintrc.json",
    "./package.json",
    "./npm-debug.log",
    "**.spec.js"
  ]
}